
<ion-header-bar class="bar-positive bar-header">
      <button class="button button-icon icon ion-ios-close-empty" ng-click="back()"></button>
      <h1 class="title">Change Password</h1>
      <button class="button button-clear button-positive" ng-click="back()">Done</button>
</ion-header-bar>
<ion-content>
<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">Old Password</span>
    <input type="password" ng-model="data.Oldpass" class="text_pass">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">New Password</span>
    <input type="password" ng-model="data.Newpass" class="text_pass">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Comfirm Password</span>
    <input type="password" ng-model="data.Comfirmpass" class="text_pass">
  </label>
  <button class="button button-block button-assertive" ng-Click="Changepass()">
    Change Password
  </button>
</div>
</ion-content>