<ion-view view-title="Login" name="login-view">
  <ion-content class="padding lgin_padding">
      <div class="list list-inset lgin">
         <center>
              <img src="img/ionic.png" />
          </center>
          <label class="item-input-wrapper">
              <input type="text" placeholder="Username" ng-model="data.userName">
          </label>
          <label class="item-input-wrapper">
              <input type="password" placeholder="Password" ng-model="data.password">
          </label>
      </div>
      <button class="button button-block button-calm color_login" ng-click="login()">Login</button>
  </ion-content>
</ion-view>