<ion-header-bar class="bar-positive bar-header">
      <button class="button button-icon icon ion-ios-close-empty" ng-click="back()"></button>
      <input type="text" ng-model="search.name" class="search" placeholder="Search OpenStock">
      <button class="button button-clear button-positive" ng-click="save()">save</button>

</ion-header-bar>
<ion-content>
    <div class="list">
            <div class="item item-thumbnail-left" ng-repeat="i in data | filter:search">
                
                    <img src="img/Jumbo.png"/>
                    <h2 class="p_ {{i.Red}}">{{i.name}}</h2>
                    <p>Unit: {{i.unit}}</p>
                    <label class="item item-input item-stacked-label p_text">
                        <input id="{{i._Id}}" type="text" ng-model="i.quantity" required="required" ng-value="1" class="text quantity" numbers-only="numbers-only">
                    </label>
                    <div class="p_range"><i class="icon p_seze ion-minus-circled" ng-click="minus(i)"></i> <i class="icon p_seze ion-plus-circled" ng-click="add(i)"></i> </div>
               
            </div>     
    </button>
    </div>   
</ion-content>
