
<ion-header-bar class="bar-positive bar-header">
      <button class="button button-icon icon ion-ios-close-empty" ng-click="back()"></button>
      <h1 class="title">Camera</h1>
      <button class="button button-clear button-positive" ng-click="back()">Done</button>
</ion-header-bar>
<ion-content>
	<center>
	    <img ng-src="{{imgURI}}"/ class="img_shoot">
		<button class="button s_top" ng-click="camera()">
		  <i class="ion ion-ios-camera-outline ion_shoot" ></i>
		</button>
	</center>
</ion-content>