<ion-view view-title="Shifts">
  <ion-content >
    <div class="card c_shifts" data-ng-repeat="i in Data">
      <div class="item item-text-wrap t_shifts">
        <h3>{{Time | date:'yyyy-MM-dd'}}</h3>
          <h5 class="s_time"><i class="icon ion-clock"></i>  <span>{{i.hourFrom}} - {{i.hourTo}}</span></h5>
          <h5 class="s_add"><i class="icon ion-ios-home"></i>  <span>{{i.outletsAddress}}</span></h5>
          <h5 class="s_pr"><i class="icon ion-person-stalker"></i> <span>{{i.promotersName.toString()}}</span></h5> 
      </div>
    </div>
  </ion-content>
</ion-view>
