
 <ion-view view-title="Task">
  <ion-content class="padding">
   <div class="list an" ng-repeat="a in data" >
    <a class="item item-avatar" href="#/{{a.type}}">
      <img  id="{{a.type}}">
      <h3>{{a.decription}}</h3>
      <h4 class="task_due">Duedate: {{a.duedate}}</h4>
    </a> 
   </div>
   
   <div class="list an" ng-repeat="a in datashow"  ng-disabled="!timerRunning">
    <a class="item item-avatar" href="">
      <img  id="{{a.type}}">
      <h3>{{a.decription}}</h3>
      <h4 class="task_due">Duedate: {{a.duedate}}</h4>
    </a> 
   </div>
  </ion-content>
  <button class="button ts_refresh" ng-click="refresh()">
  </button>
</ion-view>
