<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content >
        <ion-nav-bar class="bar-stable nav-title-slide-ios7">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
<!-- Tabs -------------------------------------------------------------------------------------------------------------->
            <ion-tabs class="tabs-icon-top tabs-color-active-positive" >
  
              <!-- Chats Tab -->
              <ion-tab title="today" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/today">
                <ion-nav-view name="tab-today"></ion-nav-view>
              </ion-tab>

              <!-- Dashboard Tab -->
              <ion-tab title="Task" icon-off="" icon-on="ion-ios-pulse-strong" href="#/tab/dash">
                <ion-nav-view name="tab-dash"></ion-nav-view>
              </ion-tab>



              <!-- Account Tab -->
              <ion-tab title="shifts" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
                <ion-nav-view name="tab-account"></ion-nav-view>
              </ion-tab>
              
            </ion-tabs>
<!-- End Tabs -------------------------------------------------------------------------------------------------------------->
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    
<!-- Menu left ------------------------------------------------------------------------------------------------------------- -->
    <ion-side-menu side="left" ng-controller="TodayCtrl">
        <ion-header-bar class="bar-stable">
            <h1 class="title">Setting</h1>
        </ion-header-bar>
            <ion-content>
                <ion-list>      
                 <ion-item nav-clear  menu-close class="item item-icon-left" href="#/Change" >                   
                        <i class="icon ion-sad"></i>Change Password
                   </ion-item>
                </ion-list>
                <ion-list>                 
                   <ion-item nav-clear  menu-close class="item item-icon-left" href="" ng-click="exit()">
                        <i class="icon ion-crop"></i>Exit
                   </ion-item>
                </ion-list>
            </ion-content>
		</ion-side-menu>
<!-- End Menu left ------------------------------------------------------------------------------------------------------------- -->
</ion-side-menus>


