<ion-view view-title="Today">
  <ion-content>
   <center>
       <h2 class="today_head_dc" ><i class="icon ion-location"></i> {{name}} </h2>
        <h5 class="today_head_oc"><i class="icon ion-clock"></i> {{from}} ~ {{to}}</h5>
   </center>
    <div class="card">
      <div class="item item-text-wrap">
          <center>
              <timer start-time="timestart">{{hours}} : {{minutes}} : {{seconds}}</timer>
          </center>
      </div>
    </div>
    <center><button class="button button-positive" ng-click="checkin()" ng-disabled="!timerRunning">
              START SHIFT
            </button>
            <button class="button button-positive endbutton" ng-click="checkout()" ng-disabled="timerRunning">
              END SHIFT
            </button>
   </center>
    <app-map style="height:200px;margin:12px;" center="basel" zoom="20" markers="whoiswhere"> 
    </app-map>

  </ion-content>
</ion-view>
