/* Empty. Add your own CSS if you like */
.button.disabled, .button[disabled] {
    opacity: 0.4;
    cursor: default !important;
    pointer-events: none;
    display: none;
}
.img_shoot{
    width: 400px;
    margin: 3px;
}
.an.disabled, .an[disabled] {
    opacity: 0.4;
    cursor: default !important;
    pointer-events: none;
    display: none;
}
.text_pass{
    
}
.search{
    width: 74%;
    margin-left: 9%;
    margin-right: 10%;
    background-color: #FE5722 !important;
    text-align: center;
    color: #fff !important;
    border: 1px dotted #fff !important;
}
.true{
    color: red;
    font-weight: 700;
}
#shoot{
    width: 50px;
    height: 50px;
    background: url(../img/camera.png) no-repeat;
    background-size: 43px;
    padding: 20px;
}
#Openstock{
    width: 50px;
    height: 50px;
    background: url(../img/check1.png) no-repeat;
    background-size: 43px;
    padding: 20px;
}

#Early-WeekStock{
    width: 50px;
    height: 50px;
    background: url(../img/check3.png) no-repeat;
    background-size: 43px;
    padding: 20px;
}

#End-WeekStock{
    width: 50px;
    height: 50px;
    background: url(../img/check4.png) no-repeat;
    background-size: 43px;
    padding: 20px;
}

#DailySales{
    width: 50px;
    height: 50px;
    background: url(../img/job.png) no-repeat;
    background-size: 43px;
    padding: 20px;
}
#CloseStock{
    width: 50px;
    height: 50px;
    background: url(../img/check2.png) no-repeat;
    background-size: 43px;
    padding: 20px;
}
.lgin{
    background-color: transparent;
}
.lgin img{
    height: 150px;
    margin-bottom: 20px;
}
.lgin_padding{
    background: url(../img/bg.png) no-repeat;
    background-size: 100%;
}
.body_shoot{
    background: url(../img/img.png) no-repeat;
    background-size: 100%;
}
.item-input-wrapper{
    margin-bottom: 10px;
}
.color_login{
    border-color: #ff6e40 !important;
    background-color: #ff6e40 !important;
    text-transform: uppercase;
}
.ng-binding{
    font-size: 26px;
    font-weight: bold;
}
.endbutton{
    border-color: #8B8B8C !important;
    background-color: #494B4E !important;
    color: #fff !important;
}
.sider{
    height: 100%;
    text-align: center;
}
.scroll{
    height: 100%;
}
.color-red{
    background-color: aquamarine;
    width: 100%;
    height: 39em;
}
.color-yellow{
    background-color: antiquewhite;
    width: 100%;
    height: 39em;
}
/* header -------------------------------------------*/
.bar.bar-stable {
    background-color: #fe5722;
}
.bar.bar-stable .title{
    color: white;
}
.bar-stable .button.button-clear
{
    color: white;
}
/* end header -------------------------------------------*/

/* Tabs -------------------------------------------*/
.tabs{
    background-color: #fe5722 !important;
    position: absolute;
    top: 43px;
}
.tab-nav .tab-title{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}
.tab-nav .icon{
    color: white;
    display: none;
}
/* end Tabs -------------------------------------------*/
.task_due{
    color: #868081;
    font-size: 10px !important;
}
/* css Page Today -------------------------------------*/
.today_head_dc{
    margin-top: 30px !important;
    color: #434343;
}
/* shifts */
.c_shifts{
  margin: 20px 9px;
}
.c_shifts .t_shifts{
    border-left: 4px solid #C50202 !important; 
}
.s_time, .s_pr, .s_add{
    color: #9A9696 !important;
    font-size: 15px !important;
}
.s_time span{
    font-size: 12px;
    color: #9A9696;
}
.s_add span{
    font-size: 12px ;
    color: #9A9696;
}
.s_pr span{
    font-size: 12px;
    color: #2A7155;
}
/* Product */
.p_seze{
    font-size: 48px !important;
    margin-left: 10px;
    margin-top: 1px;
}
.p_save{
    z-index: 1000;
    position: fixed;
    bottom: 20px !important;
    right: 10px !important;
    border-radius: 38px !important;
    background: url(../img/save.png);
    background-size: cover;
    border: none;
    width: 35px;
}
.ts_refresh{
    position: absolute;
    bottom: 20px;
    right: 10px;
    border-radius: 38px !important;
    background: url(../img/refresh.png);    
    background-size: cover;
    border: none;
}
.p_text{
float: left;
width: 46% !important;
margin:10px 20px 0 0 !important;
border: none !important;
    
}
.p_text .text
{
    background-color: transparent;
    font-size: 39px;
    color: #FFDC0B;
    font-weight: bold;
    margin-top: -14px;
    height: 49px;
}
.p_range{
    float: left;
    margin-top: 1px;
}
.p_body{
    width: 100%;
    margin-bottom: 1px solid #000; 
}
/* shoot */
.s_top{
    position: absolute;
    bottom: 7px;
    right: 10px;
    border-radius: 100px;
}
.ion_shoot{
    
    font-size: 60px !important;
    padding-top: 5px;
}
.today_head_oc{
    color: #757575;
    font-size: 18px;
}
/* end css page today ---------------------------------*/